<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ShiwaForce.com</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1 th:text="'Welcome, ' + ${welcomeName} + '!'">Hello!</h1>
        <h2>
            <span th:text="'Server name: ' + ${hostname}"></span>
            <span th:text="'Server address:	 ' + ${ip}"></span>
            <span th:text="'Date: ' + ${today} + ' ' + ${time}"></span>
            <span th:text="'Url: ' + ${_Path}"></span>

        </h2>

    </div>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>